# DEVICE="cuda"
# MAX_EPOCHS = 50
# BATCH_SIZE= 256
# HIDDEN_SIZE = 512
# EMBEDDING_SIZE = 128
# TRAIN_PROPORTION = 0.5
# DEV_PROPORTION = 0.25
# TEST_PROPORTION = 0.25
# EXPERIMENTS = [
#     {
#         "NAME" : "word_scan",
#         "GRANULARITY" : "word_scan",
#     },
#     {
#         "NAME" : "word_stress",
#         "GRANULARITY" : "word_stress",
#     },
#     {
#         "NAME" : "char_scan",
#         "GRANULARITY" : "char_scan",
#     },
#     {
#         "NAME" : "char_stress",
#         "GRANULARITY" : "char_stress",
#     },
#     # {
#     #     "NAME" : "hierarchical_scan",
#     #     "GRANULARITY" : "char_scan",
#     # },
#     # {
#     #     "NAME" : "hierarchical_stress",
#     #     "GRANULARITY" : "char_stress",
#     # }
# ]
